<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="a-tg.UnmanagedLibWrap" version="1.0.0" targetFramework="net471" />
  <package id="a-tg.VmrapiDynWrap" version="1.0.0" targetFramework="net471" />
  <package id="a-tg.VmrapiDynWrapExt" version="1.0.0" targetFramework="net471" />
</packages>